<ion-card class="nakshatra-card">
  <ion-card-header>
    <ion-card-title color="light">Current Nakshatra</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item class="nakshatra-item">
      <ion-label>Nakshatra</ion-label>
      <ion-text>{{ panchanga.nakshatra.name }}</ion-text>
    </ion-item>
    <ion-item class="nakshatra-item">
      <ion-label>Start Time</ion-label>
      <ion-text class="align-right">{{ panchanga.nakshatra.start }}</ion-text>
    </ion-item>
    <ion-item class="nakshatra-item">
      <ion-label>End Time</ion-label>
      <ion-text class="align-right">{{ panchanga.nakshatra.end }}</ion-text>
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-card style="--background: var(--ion-color-primary-75a);" class="nakshatra-card">
  <ion-card-header>
    <ion-card-title color="light">Next Nakshatra</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item class="nakshatra-item">
      <ion-label>Next Nakshatra</ion-label>
      <ion-text>{{ panchanga.nextNakshatra.name }}</ion-text>
    </ion-item>
    <ion-item class="nakshatra-item">
      <ion-label>Start Time</ion-label>
      <ion-text class="align-right">{{ panchanga.nextNakshatra.start }}</ion-text>
    </ion-item>
    <ion-item class="nakshatra-item">
      <ion-label>End Time</ion-label>
      <ion-text class="align-right">{{ panchanga.nextNakshatra.end }}</ion-text>
    </ion-item>
  </ion-card-content>
</ion-card>
