<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="today" routerLink="/home/today">
      <ion-icon name="today-outline"></ion-icon>
      <ion-label>Today</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="day-table" routerLink="/home/day-table">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Daily Table</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="panchang" routerLink="/home/panchang">
      <ion-icon name="planet-outline"></ion-icon>
      <ion-label>Panchangam</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="anandadiyogam" routerLink="/home/anandadiyogam">
      <ion-icon name="airplane-outline"></ion-icon>
      <ion-label>Anandadiyogam</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" routerLink="/home/profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
