.good {
    color: green;
    font-weight: bold;
  }
  
  .bad {
    color: red;
    font-weight: bold;
  }
  

  .good-row {
    background-color: #d4edda; /* light green */
    color: green;
    padding: 8px;
    margin-bottom: 4px;
    border-radius: 4px;
  }
  
  .bad-row {
    background-color: #f8d7da; /* light red */
    color: red;
    padding: 8px;
    margin-bottom: 4px;
    border-radius: 4px;
  }

  ion-card{
    margin: 8px;
  }
  
  .dropdown-container {
    background: #fff;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    margin: 0 16px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }
  
  .centering{
    display: flex;
    align-items: center;
  }

  
  .thidhi-card {
    background: linear-gradient(to right, #2d2d2d, #1a1a1a);
    color: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin: 16px;
  }
  
  ion-card-title[color="light"] {
    color: #ffd700 !important; // Gold tone for sacred feel
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
  }
  
  .thidhi-item {
    --background: transparent;
    --border-color: transparent;
    // padding-top: 8px;
    // padding-bottom: 8px;
    color: #f0f0f0;
  
    ion-label {
      font-size: 0.95rem;
      font-weight: 500;
    }
  
    ion-text {
      font-size: 0.95rem;
      font-weight: 400;
    }
  
    .align-right {
      text-align: right;
      width: 100%;
      display: block;
    }
  }